# Настройки Django
DEBUG=True
SECRET_KEY=django-insecure-change-me-to-something-very-long-and-random

# Настройки PostgreSQL
DB_NAME=license_db
DB_USER=postgres
DB_PASSWORD=твой_пароль_от_postgres
DB_HOST=localhost
DB_PORT=5432

# Токен для API (который будут знать клиент и сервер)
API_SECRET_TOKEN=MySuperSecretAppToken_12345_ChangeMe